.box{
    margin-bottom: 30px;
}
.imaget {
   
    background-color: #e8e0d5;
    border-radius: 6px;
    overflow: hidden;
    transition: box-shadow .2s ease 0s;
    display: flex;
    border: 1.5px solid #a4806e;
    box-shadow: 0 3px 3px 0 #d6c7b3;
    margin-left: 30px;
}
.center{
    text-align: center;
}