<h1 class="title" style="text-align:center; padding-left: 22px;color: #b96662;">Nos Produits </h1>
<div class="row">
    <div *ngFor="let p of lesProduits"  class="col-sm-4">
        <div class="card box imaget" style="width: 18rem;">
            <img [src]="p.photo" class="card-img-top p-2" alt="..." height="250px" width="900px">
            <div class="card-body">
                    <h5 class="card-title">{{p.libelle}}</h5>
                    <i class="fa fa-star" style="color: orange; width:11;"></i>
                            <i class="fa fa-star" style="color: orange;;"></i>
                            <i class="fa fa-star" style="color: orange;"></i>
                            <i class="fa fa-star" style="color: orange;"></i>
                            <i class="fa fa-star" style="color: black;"></i>
                            <br>
                    <p class="card-text">Prix:{{p.prix| number:'.3'|money}}</p>
                    <span class="badge text-bg-secondary" *ngIf="p.disponible==true">Disponible</span> 
                    <span class="badge text-bg-secondary m-4">Commander</span> <br> <br> 
                    <button type="button" class="btn btn-primary container">Détails</button>
                </div>
            </div>
          <br>
            </div>
</div>
<button type="button" class="btn btn-primary"><a class="nav-link" routerLinkActive="active" routerLink="/shop">Page précidente</a></button>


 <!--<a [routerLink]="['/produits', pr.id]" > Détail</a> --> 